onlyBuiltDependencies=["esbuild", "rollup", "@swc/core", "@esbuild/win32-x64", "@esbuild/linux-x64", "@esbuild/darwin-x64", "@firebase/util", "@google/genai", "core-js", "protobufjs"]
node-linker=hoisted
confirm-modules-purge=false
