onlyBuiltDependencies=["esbuild", "rollup", "@swc/core", "@esbuild/win32-x64", "@esbuild/linux-x64", "@esbuild/darwin-x64", "@firebase/util", "@google/genai", "@parcel/watcher", "core-js", "protobufjs", "puppeteer", "sharp", "unrs-resolver"]
node-linker=hoisted
minimum-release-age=0s
block-exotic-subdeps=false
allow-exotic-subdeps=true
blockExoticSubdeps=false
